<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AMAccepts</key>
	<dict>
		<key>Container</key>
		<string>List</string>
		<key>Optional</key>
		<true/>
		<key>Types</key>
		<array/>
	</dict>
	<key>AMApplication</key>
	<string>-</string>
	<key>AMCanShowSelectedItemsWhenRun</key>
	<false/>
	<key>AMCanShowWhenRun</key>
	<true/>
	<key>AMCategory</key>
	<string>AMCategoryUtilities</string>
	<key>AMDefaultParameters</key>
	<dict/>
	<key>AMDescription</key>
	<dict>
		<key>AMDAlert</key>
		<string>-</string>
		<key>AMDInput</key>
		<string>-</string>
		<key>AMDNote</key>
		<string>-</string>
		<key>AMDOptions</key>
		<string>-</string>
		<key>AMDRelatedActions</key>
		<string>-</string>
		<key>AMDRequires</key>
		<string>-</string>
		<key>AMDResult</key>
		<string>-</string>
		<key>AMDSummary</key>
		<string>Ejects all ejectable disks as reported by diskutil info</string>
		<key>AMDWebsite</key>
		<string>-</string>
	</dict>
	<key>AMIconName</key>
	<string>-</string>
	<key>AMKeywords</key>
	<array/>
	<key>AMName</key>
	<string>Ejector</string>
	<key>AMProvides</key>
	<dict>
		<key>Container</key>
		<string>List</string>
		<key>Types</key>
		<array/>
	</dict>
	<key>AMRequiredResources</key>
	<array/>
	<key>AMWarning</key>
	<dict>
		<key>Action</key>
		<string>-</string>
		<key>ApplyButton</key>
		<string>-</string>
		<key>IgnoreButton</key>
		<string>-</string>
		<key>Level</key>
		<integer>0</integer>
		<key>Message</key>
		<string>-</string>
	</dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>seemiller.${PRODUCT_NAME:rfc1034identifier}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.1</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.1</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2011 -. All rights reserved.</string>
	<key>NSPrincipalClass</key>
	<string>AMShellScriptAction</string>
</dict>
</plist>
